[login-form],
[signup-form] {
    margin-top: 97px;
    margin-bottom: 141px;
}

.login-credential {
    background: #F5F5F7;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    width: 400px;
    min-height: 351px;
}

.credential {
    background: #F5F5F7;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    width: 400px;
    min-height: 750px;
}

h4 {
    font-size: 24px;
    margin: 40px 0px 19px 0px;
    font-family: 'Roboto'
}

input {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    width: 351px !important;
    margin: auto;
}

.login-button {
    cursor: pointer;
    background: #FF6600 !important;
    border-radius: 4px;
    border: 1px solid #FF6600;
    width: 351px;
    padding: 13px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.login-button:hover {
    background: #fff !important;
    color: #FF6600;
    border: 1px solid #FF6600;
    font-weight: 600;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.facebook {
    cursor: pointer;
    background: #3558D4 !important;
    border-radius: 4px;
    border: 1px solid #3558D4;
    width: 351px;
    padding: 13px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;

}

.google {
    cursor: pointer;
    background: #fff !important;
    border-radius: 4px;
    border: 1px solid #ffffff;
    width: 351px;
    padding: 13px 15px;
    color: #333456;
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0px 25px 0px !important;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}

.option {
    margin: 25px 0px 25px 0px
}

.text-center {
    font-size: 13px;
    color: #333456;
}

a {
    font-size: 12px;
    color: rgba(51, 52, 86, 0.6);
    margin-right: 23px;
    text-align: right !important;
}

a:hover{
    text-decoration: none;
}


.form-group.invalid input {
    /* background-color: #ffc9aa; */
    border: 1px solid #FF6600;
}

.error {
    color: #FF6600;;
}