@font-face {
    font-family: "avenir-next-lt-pro-regular";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("woff"),
        url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
        url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("truetype");
}

@font-face {
    font-family: "avenir-next-lt-pro-italic";
    src: url("../../assets/fonts/AvenirNextLTPro-It.otf") format("woff"),
        url("../../assets/fonts/AvenirNextLTPro-It.otf") format("opentype"),
        url("../../assets/fonts/AvenirNextLTPro-It.otf") format("truetype");
}

@font-face {
    font-family: "avenir-next-lt-pro-demi";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("woff"),
        url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"),
        url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("truetype");
}

@font-face {
    font-family: "avenir-next-lt-pro-demi-condensed";
    src: url("../../assets/fonts/AvenirNextLTPro-DemiCn.otf") format("woff"),
        url("../../assets/fonts/AvenirNextLTPro-DemiCn.otf") format("opentype"),
        url("../../assets/fonts/AvenirNextLTPro-DemiCn.otf") format("truetype");
}

@font-face {
    font-family: "avenir-next-lt-pro-bold";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("woff"),
        url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
        url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("truetype");
}

@font-face {
    font-family: 'Gilroy-Bold ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold ☞'), url('../../assets/fonts/Gilroy-Bold.woff') format('woff');
}

html {
    font-size: 16px;
    font-family: "avenir-next-lt-pro-regular";
}

[landing-content] {
    margin-top: 3.125rem;
}

.landing-picture {
    width: 100%;
    height: 43.75rem;
    background: linear-gradient(89.54deg, rgba(0, 0, 0, 0.53) -3.78%, rgba(0, 0, 0, 0.37) 50.18%, rgba(0, 0, 0, 0.1) 99.78%), url('/assets/img/homepage/landingpage.jpg');
}

h2 {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 3rem !important;
    line-height: 3.5rem;
    font-family: 'Gilroy-Bold ☞';
    color: #FFFFFF;
    padding-top: 13.5625rem;
    margin-left: 7.0625rem;
    text-align: left;
}

.word {
    font-family: "avenir-next-lt-pro-regular";
    font-size: 1.5rem !important;
    line-height: 2.0625rem;
    margin-left: 7.0625rem;
    color: #FFFFFF;
    text-align: left;
    font-weight: normal !important;
}

.advert {
    background: #fff;
    box-shadow: 0rem 0.125rem 0.9375rem rgba(98, 98, 98, 0.25);
    height: 5rem;
    border: 0.0625rem solid #EAEAEA;

}

.service>p {
    font-family: "avenir-next-lt-pro-regular";
}

.service {
    margin: 1.25rem 0rem 0rem 9.5rem;
}


/* how iGofer works */


[how-it-works] {
    margin-bottom: 5rem;
    margin-top: 6.25rem !important;
}

[how-it-works] svg {
    background: #F5F5F7;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 1.4rem
}

[how-it-works] h6 {
    font-family: "avenir-next-lt-pro-regular";
    color: #333456;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-align: center !important;
    margin-top: 1rem !important;

}


[how-it-works] p {
    font-family: "avenir-next-lt-pro-regular";
    font-size: 1rem;
    line-height: 1.1875rem;
    font-weight: 300;
    text-align: center !important;
    margin-top: 1rem !important;
}


.get-quotes {
    margin-top: 4.375rem;
}

/* services */

/* .nav li {
    padding: 0px 42px 5px 5px !important;
} */

/* .nav-link .active {
    border: none;
    color: #FF6600;
} */


.nav-tabs .nav-link {
    padding: 0rem;
}


.nav-link.active {
    border: none;
    color: #FF6600 !important;
}

.nav-link:hover {
    border: none;
}


.nav li a {
    color: #333456 !important;
    font-size: 1.125rem;
    line-height: 1.375rem;

}



.cleaning img,
.cleaning a {
    color: #fff !important;
}


.services-types h5 {
    font-size: 1.125rem;
}

.services-types p {
    font-size: 0.875rem;
}

img {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}




/* get iGofer app from playstore */

.app-features>li {
    list-style-type: none;
    list-style-image: url(/assets/img/checkmark.png);
    margin-left: 9.375rem;
    padding: 0rem;
    text-align: left;
}

.app-features {
    margin: 0rem;
    padding: 0rem;
}


li span {
    position: relative;
    left: 0.4375rem;
}


[get-app] {
    background: #F5F5F7;
}

.download-app {
    font-size: 1.5rem !important;
    font-weight: 600;
    padding-bottom: 0.3125rem;
    color: #333456;
}


.get-app-div {
    padding-top: 4.6875rem;
}

.get-app-div>h3,
.section-title>h3, .c-content-title-1 > h3 {
    font-family: 'Gilroy-Bold ☞';
    color: #333456;
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 3.0625rem;
}

.get-app-text {
    color: #333456 !important;
    font-size: 1.125rem !important;
}

.content {
    padding-top: 4.0625rem;
}

.testimonal {
    background: #F5F5F7;
    border-radius: 0.1875rem;
}

.customer {
    font-size: 2.625rem;
    font-family: 'Gilroy-Bold ☞';
    color: #333456;
}



/* owl carousel */
/* .owl-carousel {
    transform: rotate(90deg);
    width: 20rem;
    margin-top: 0rem;
}

.owl-item {
    width: 23.125rem !important;
}

.item {
    transform: rotate(-90deg);
}

.owl-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: calc(50% - 33px);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #FF6600 !important;
}

.owl-carousel .owl-item img {
    display: block;
    width: 20% !important;
}

div.owl-carousel .owl-nav .owl-prev,
div.owl-carousel .owl-nav .owl-next {
    font-size: 2.25rem;
    top: unset;
    bottom: 0.9375rem;
}

.owl-theme .owl-nav {
    margin-top: 0.625rem;
    display: none !important;
}

.owl-stage .owl-item {
    width: 13.5625rem !important;

} */

.arrow {
    margin-left: 3.125rem;
    padding: 1.875rem 6.25rem;
    background: #F5F5F7;
}



/* get iGofer app from playstore */

.app-features>li {
    list-style-type: none;
    list-style-image: url(/assets/img/checkmark.png);
    margin-left: 9.375rem;
    padding: 0rem;
    text-align: left;
}

.app-features {
    margin: 0rem;
    padding: 0rem;
}


li span {
    position: relative;
    left: 0.4375rem;
}

.phone {
    position: relative;
    left: 1.48375rem;
}

[get-app] {
    background: #F5F5F7;
}

.download-app {
    font-size: 1.5rem !important;
    font-weight: 600;
    padding-bottom: 0.3125rem;
    color: #333456;
}


.get-app-div {
    padding-top: 3.3125rem;
}

.get-app-div>h3 {
    font-family: 'Gilroy-Bold ☞';
    color: #333456;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.0625rem;
}

.get-app-text {
    color: #333456 !important;
    font-size: 1.125rem !important;
}

.content {
    padding-top: 3.3125rem;
}

.testimonal {
    background: #F5F5F7;
    border-radius: 0.1875rem;
}

.customer {
    font-size: 2.625rem;
    font-family: 'Gilroy-Bold ☞';
    color: #333456;
}

.customer-word {
    font-size: 1.125rem;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 16px;
        font-family: "avenir-next-lt-pro-regular";
    }

    [landing-content] {
        margin-top: 3.125rem;
    }

    .landing-picture {
        width: 100%;
        height: 25rem;
        background: linear-gradient(89.54deg, rgba(0, 0, 0, 0.53) -3.78%, rgba(0, 0, 0, 0.37) 50.18%, rgba(0, 0, 0, 0.1) 99.78%), url('../../assets/img/background.jpg');
    }

    h2 {
        font-style: normal;
        font-weight: 600 !important;
        font-size: 2rem !important;
        line-height: 2.3125rem;
        font-family: 'Gilroy-Bold ☞';
        color: #FFFFFF;
        padding-top: 3.8125rem;
        margin-left: 1.75rem;
        text-align: left;
    }

    .word {
        font-family: "avenir-next-lt-pro-regular";
        font-size: 1.125rem !important;
        line-height: 1.5rem;
        margin: 1.875rem 0rem 0rem 1.75rem !important;
        color: #FFFFFF;
        text-align: left;
        font-weight: normal !important;
    }

    .advert {
        background: #fff;
        box-shadow: 0rem 0.125rem 0.9375rem rgba(98, 98, 98, 0.25);
        height: 5rem;
        border: 0.0625rem solid #EAEAEA;

    }

    .service>p {
        font-family: "avenir-next-lt-pro-regular";
    }

    .service {
        margin: 0.65rem 0rem 0rem 2rem;
    }


    /* how iGofer works */


    [how-it-works] {
        margin-bottom: 5rem;
        margin-top: 6.25rem !important;
    }

    [how-it-works] svg {
        background: #F5F5F7;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        display: block;
        margin: auto;
        padding: 1.4rem
    }

    [how-it-works] h6 {
        font-family: "avenir-next-lt-pro-regular";
        color: #333456;
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 600;
        text-align: center !important;
        margin-top: 1rem !important;

    }


    [how-it-works] p {
        font-family: "avenir-next-lt-pro-regular";
        font-size: 1rem;
        line-height: 1.1875rem;
        font-weight: 300;
        text-align: center !important;
        margin-top: 1rem !important;
    }


    .get-quotes {
        margin-top: 4.375rem;
    }

    /* become a worker */
    .worker-button {
        background: #FF6600;
        box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
        border-radius: 0.3125rem;
        font-family: "avenir-next-lt-pro-regular";
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
        color: #F5F5F7;
        padding: 0.7rem;
        line-height: 1.5625rem;
        margin: 0rem 7.6875rem 2rem 0rem;
        border: none;
    }

    .worker-button:hover {
        background: #fff;
        border: 0.125rem solid #F26132;
        color: #F26132;
        cursor: pointer;
    }

    /* become a worker */

    h4 {
        font-size: 1.75rem;
        font-family: 'Gilroy-Bold ☞';
        line-height: 2.5rem;
        color: #333456;
    }

    h4 {
        margin: 0px 0px 0px 0.6875rem;
        padding-top: 6.25rem
    }

    h4+p {
        margin: 1.25rem 0rem 2.375rem 0.6875rem;
    }

    .nav-tabs {
        border: none;
        margin-left: -0.9375rem;
    }

    .customer-word {
        font-size: 1rem;
    }

    .services-types img {
        width: 5rem;
        height: 6rem;
    }

    .col-md-3 {
        flex-wrap: wrap;
    }

    .cleaning {
        background: url('../../assets/img/services/cleaning2.webp');
        height: 10rem;
        width: 22.25rem;
        border-radius: 3px;
    }

    h5 {
        font-size: 0.9rem;
        margin-top: 0px !important;
    }

    .services-types p {
        font-size: 0.6rem;
    }

    .services-types h5:hover,
    .services-types p:hover {
        cursor: pointer;
    }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        font-size: 16px;
        font-family: "avenir-next-lt-pro-regular";
    }

    [landing-content] {
        margin-top: 3.125rem;
    }

    .landing-picture {
        width: 100%;
        height: 43.75rem;
        background: linear-gradient(89.54deg, rgba(0, 0, 0, 0.53) -3.78%, rgba(0, 0, 0, 0.37) 50.18%, rgba(0, 0, 0, 0.1) 99.78%), url('/assets/img/homepage/landingpage.webp');
    }

    h2 {
        font-style: normal;
        font-weight: 600 !important;
        font-size: 3rem !important;
        line-height: 3.5rem;
        font-family: 'Gilroy-Bold ☞';
        color: #FFFFFF;
        padding-top: 13.5625rem;
        margin-left: 7.0625rem;
        text-align: left;
    }

    .word {
        font-family: "avenir-next-lt-pro-regular";
        font-size: 1.5rem !important;
        line-height: 2.0625rem;
        margin-left: 7.0625rem;
        color: #FFFFFF;
        text-align: left;
        font-weight: normal !important;
    }

    .advert {
        background: #fff;
        box-shadow: 0rem 0.125rem 0.9375rem rgba(98, 98, 98, 0.25);
        height: 5rem;
        border: 0.0625rem solid #EAEAEA;

    }

    .phone {
        position: relative;
        left: 6.68375rem
    }

    /* become a worker */

    h4 {
        font-size: 2.25rem;
        font-family: 'Gilroy-Bold ☞' !important;
        line-height: 2.5rem;
        color: #333456;
    }

    h4 {
        margin: 0px 0px 0px 7.6875rem;
        padding-top: 7.6875rem
    }

    h4+p {
        margin: 1.25rem 0rem 2.375rem 7.6875rem;
    }

    .nav-tabs {
        border: none;
        width: 30%;
        margin-left: -0.9375rem;
    }

    .text-light {
        font-size: 18px;
        line-height: 20px;
        font-family: "avenir-next-lt-pro-regular";
        margin: 0rem;
    }

    .customer-word {
        font-size: 1.125rem;
    }

    .services-types img {
        width: 10.625rem;
        height: 6.924375rem;
    }

    .cleaning {
        background: url('/assets/img/services/cleaning.webp');
        height: 15.625rem;
        border-radius: 3px;
    }

    .services-types h5:hover,
    .services-types p:hover {
        cursor: pointer;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: "avenir-next-lt-pro-regular";
    }

    [landing-content] {
        margin-top: 3.125rem;
    }

    .landing-picture {
        width: 100%;
        height: 43.75rem;
        background: linear-gradient(89.54deg, rgba(0, 0, 0, 0.53) -3.78%, rgba(0, 0, 0, 0.37) 50.18%, rgba(0, 0, 0, 0.1) 99.78%), url('/assets/img/homepage/landingpage.webp');
    }

    h2 {
        font-style: normal;
        font-weight: 600 !important;
        font-size: 3rem !important;
        line-height: 3.5rem;
        font-family: 'Gilroy-Bold ☞';
        color: #FFFFFF;
        padding-top: 13.5625rem;
        margin-left: 4rem;
        text-align: left;
    }

    .word {
        font-family: "avenir-next-lt-pro-regular";
        font-size: 1.5rem !important;
        line-height: 2.0625rem;
        margin: 1rem 0rem 0rem 4rem;
        color: #FFFFFF;
        text-align: left;
        font-weight: normal !important;
    }

    .advert {
        background: #fff;
        box-shadow: 0rem 0.125rem 0.9375rem rgba(98, 98, 98, 0.25);
        height: 5rem;
        border: 0.0625rem solid #EAEAEA;

    }

    .phone {
        position: relative;
        left: 4rem
    }

    /* become a worker */

    .worker-button {
        background: #FF6600;
        box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
        border-radius: 0.3125rem;
        font-family: "avenir-next-lt-pro-regular";
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
        color: #F5F5F7;
        padding: 0.7rem;
        line-height: 1.5625rem;
        margin: 0.625rem auto;
        border: none;
    }

    .worker-button:hover {
        background: #fff;
        border: 0.125rem solid #F26132;
        color: #F26132;
        cursor: pointer;
    }


    h4 {
        font-size: 2.5rem;
        font-family: 'Gilroy-Bold ☞';
        line-height: 2.5rem;
        color: #333456;
    }

    h4 {
        margin: 0px 0px 0px 7.6875rem;
        padding-top: 3rem
    }

    h4+p {
        margin: 1.25rem 0rem 2.375rem 7.6875rem;
    }

    .nav-tabs {
        border: none;
        width: 96%;
        margin-left: -0.9375rem;
    }

    .text-light {
        font-size: 18px;
        line-height: 20px;
        font-family: "avenir-next-lt-pro-regular";
    }

    .customer-word {
        font-size: 1.125rem;
    }

    .services-types img {
        width: 14rem;
        height: 12.125rem;
        padding-right: 3.5rem;
    }

    .cleaning {
        background: url('/assets/img/services/cleaning.webp');
        height: 15.625rem;
        border-radius: 3px;
    }

    .app-features {
        margin: 0rem;
        padding: 0rem;
    }

    .download-app {
        font-size: 1.5rem !important;
        font-weight: 600;
        padding-bottom: 0.3125rem;
        color: #333456;
        padding-left: 6.25rem;
    }

    .services-types h5:hover,
    .services-types p:hover {
        cursor: pointer;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        font-size: 16px;
        font-family: "avenir-next-lt-pro-regular";
    }

    [landing-content] {
        margin-top: 3.125rem;
    }

    .landing-picture {
        width: 100%;
        height: 43.75rem;
        background: linear-gradient(89.54deg, rgba(0, 0, 0, 0.53) -3.78%, rgba(0, 0, 0, 0.37) 50.18%, rgba(0, 0, 0, 0.1) 99.78%), url('/assets/img/homepage/landingpage.webp');
    }

    h2 {
        font-style: normal;
        font-weight: 600 !important;
        font-size: 3rem !important;
        line-height: 3.5rem;
        font-family: 'Gilroy-Bold ☞';
        color: #FFFFFF;
        padding-top: 13.5625rem;
        margin-left: 7.0625rem;
        text-align: left;
    }

    .word {
        font-family: "avenir-next-lt-pro-regular";
        font-size: 1.5rem !important;
        line-height: 2.0625rem;
        margin-left: 7.0625rem;
        color: #FFFFFF;
        text-align: left;
        font-weight: normal !important;
    }

    .advert {
        background: #fff;
        box-shadow: 0rem 0.125rem 0.9375rem rgba(98, 98, 98, 0.25);
        height: 5rem;
        border: 0.0625rem solid #EAEAEA;

    }

    .phone {
        position: relative;
        left: 15.955625rem
    }

    /* become a worker */
    .worker-button {
        background: #FF6600;
        box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
        border-radius: 0.3125rem;
        font-family: "avenir-next-lt-pro-regular";
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
        color: #F5F5F7;
        padding: 0.7rem;
        line-height: 1.5625rem;
        margin: 0rem 7.6875rem 0rem 0rem;
        border: none;
    }

    .worker-button:hover {
        background: #fff;
        border: 0.125rem solid #F26132;
        color: #F26132;
        cursor: pointer;
    }

    /* become a worker */

    h4 {
        font-size: 2.25rem !important;
        font-family: 'Gilroy-Bold ☞' !important;
        line-height: 2.5rem;
        color: #333456;
    }

    h4 {
        margin: 0px 0px 0px 7.6875rem;
        padding-top: 7.6875rem
    }

    h4+p {
        margin: 1.25rem 0rem 2.375rem 7.6875rem;
    }

    .nav-tabs {
        border: none;
        width: 61%;
        margin-left: -0.9375rem;
    }

    .text-light {
        font-size: 18px;
        line-height: 20px;
        font-family: "avenir-next-lt-pro-regular";
    }

    .customer-word {
        font-size: 1.125rem;
    }

    .services-types img {
        width: 16.25rem;
        height: 12.125rem;
    }

    .cleaning {
        background: url('/assets/img/services/cleaning.webp');
        height: 15.625rem;
        border-radius: 3px;
    }

    .app-features>li {
        list-style-type: none;
        list-style-image: url(/assets/img/checkmark.png);
        margin-left: 18rem;
        padding: 0rem;
        text-align: left;
    }

    .services-types h5:hover,
    .services-types p:hover {
        cursor: pointer;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 16px;
        font-family: "avenir-next-lt-pro-regular";
    }

    [landing-content] {
        margin-top: 3.125rem;
    }

    .landing-picture {
        width: 100%;
        height: 43.75rem;
        background: linear-gradient(89.54deg, rgba(0, 0, 0, 0.53) -3.78%, rgba(0, 0, 0, 0.37) 50.18%, rgba(0, 0, 0, 0.1) 99.78%), url('/assets/img/homepage/landingpage.webp');
    }

    h2 {
        font-style: normal;
        font-weight: 600 !important;
        font-size: 3rem !important;
        line-height: 3.5rem;
        font-family: 'Gilroy-Bold ☞';
        color: #FFFFFF;
        padding-top: 13.5625rem;
        margin-left: 7.0625rem;
        text-align: left;
    }

    .word {
        font-family: "avenir-next-lt-pro-regular";
        font-size: 1.5rem !important;
        line-height: 2.0625rem;
        margin-left: 7.0625rem;
        color: #FFFFFF;
        text-align: left;
        font-weight: normal !important;
    }

    .advert {
        background: #fff;
        box-shadow: 0rem 0.125rem 0.9375rem rgba(98, 98, 98, 0.25);
        height: 5rem;
        border: 0.0625rem solid #EAEAEA;

    }

    .customer-word {
        font-size: 1.125rem;
    }

    .services-types img {
        width: 19.5rem;
    }

    .cleaning {
        background: url('/assets/img/services/cleaning.webp');
        height: 15.625rem;
        border-radius: 3px;
    }

    .services-types h5:hover,
    .services-types p:hover {
        cursor: pointer;
    }


}

/* .testimonials .owl-nav,
.testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.testimonials .owl-dot.active {
    background-color: #1bac91 !important;
} */


.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid #fff;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 45px;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #a8d3cc;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: #eff7f6;
    position: relative;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.testimonials .owl-nav,
.testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.testimonials .owl-dot.active {
    background-color: #1bac91 !important;
}


.img-gallery .owl-item {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    transform: scale(0.8);
    transition: all 0.3s ease-in;
}

.img-gallery .owl-item.center {
    transform: scale(1);
}

#basicSlider {
    position: relative;
}

#basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2%;
    height: 100px;
}

#basicSlider .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    line-height: 50px;
    vertical-align: middle;
}

@media (max-width: 991px) {

    #basicSlider .MS-content .item {
        width: 25%;
    }
}

@media (max-width: 767px) {

    #basicSlider .MS-content .item {
        width: 35%;
    }
}

@media (max-width: 500px) {

    #basicSlider .MS-content .item {
        width: 50%;
    }
}

#basicSlider .MS-content .item a {
    line-height: 50px;
    vertical-align: middle;
}

#basicSlider .MS-controls button {
    position: absolute;
}

#basicSlider .MS-controls .MS-left {
    top: 35px;
    left: 10px;
}

#basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
}

.bg-gradient {
    background-image: -moz-linear-gradient(135deg, rgba(5, 69, 65, 1) 46%, rgba(4, 241, 228, 0.8532772972470238) 100%);
    background-image: -webkit-linear-gradient(135deg, rgba(5, 69, 65, 1) 46%, rgba(4, 241, 228, 0.8532772972470238) 100%);
    background-image: -ms-linear-gradient(135deg, rgba(5, 69, 65, 1) 46%, rgba(4, 241, 228, 0.8532772972470238) 100%);
    background-image: linear-gradient(135deg, rgba(5, 69, 65, 1) 46%, rgba(4, 241, 228, 0.8532772972470238) 100%);
}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #1dbdb3;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }

    .img-holder {
        padding-bottom: 100%;
    }

    .tagline-header {
        font-size: 2rem;
    }
}

.c-font-20 {
    font-size: 20px;
}

.c-content-pricing-1 {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
}

.c-content-pricing-1>.c-tile-container {
    width: 100%;
    position: relative;
    text-align: center;
}

.c-content-pricing-1>.c-tile-container>.c-tile {
    background: #ffffff;
    width: 31.9%;
    height: 100%;
    float: left;
    padding: 90px 0;
    margin: 0 20px;
}

.c-content-pricing-1>.c-tile-container>.c-tile.c-bordered {
    border: 3px solid transparent;
}

.c-content-pricing-1>.c-tile-container>.c-tile.c-shadow {
    box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.5);
}

.c-content-pricing-1>.c-tile-container>.c-tile>.c-label {
    color: #fff;
    padding: 4px 10px 2px 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 30px 0;
}

.c-content-pricing-1>.c-tile-container>.c-tile>p {
    font-size: 15px;
    font-weight: 400;
}

.c-content-pricing-1>.c-tile-container>.c-tile>.btn {
    margin-top: 40px;
}

.c-content-pricing-1>.c-tile-container>.c-tile>.c-price {
    color: #3f444a;
    font-size: 60px;
    font-weight: bold;
}

.c-content-pricing-1>.c-tile-container>.c-tile>.c-price>sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

.c-content-pricing-1>.c-tile-container>.c-tile-small {
    margin: 40px 0;
    padding: 50px 0;
}

.c-content-pricing-1.c-option-2>.c-tile-container>.c-tile>.c-label {
    color: #ffffff;
}

.c-content-pricing-1.c-option-2>.c-tile-container>.c-tile.c-highlight {
    background-color: #32c5d2;
}

.c-content-pricing-1.c-option-2>.c-tile-container>.c-tile.c-highlight>.c-label {
    background-color: #ffffff;
    color: #32c5d2;
}

.c-content-pricing-1.c-option-2>.c-tile-container>.c-tile.c-highlight>p {
    color: #ffffff;
}

.c-content-pricing-1.c-option-2>.c-tile-container>.c-tile.c-highlight>.c-price {
    color: #3f444a;
}

.c-content-pricing-1.c-option-2>.c-tile-container>.c-tile.c-highlight>.c-price>sup {
    color: #3f444a;
}

@media (max-width: 991px) {

    /* <= 991px */
    .c-content-pricing-1>.c-title>h3 {
        margin: 20px 0 50px 0;
    }

    .c-content-pricing-1>.c-tile-container>.c-tile {
        width: 100%;
        margin: 20px 0;
    }
}

.c-content-pricing-1 {
    padding: 0;
    margin: 0;
}

.c-content-pricing-1 .c-content.c-padding-adjustment {
    margin-right: -30px;
}

.c-content-pricing-1 .c-content>.c-row {
    padding: 30px;
    text-align: center;
    border-top: 1px solid;
    font-weight: 500;
}

.c-content-pricing-1 .c-content>.c-row>.c-sub-title {
    display: none;
}

.c-content-pricing-1 .c-content>.c-row:first-child,
.c-content-pricing-1 .c-content>.c-row:last-child {
    border-top: none;
}

.c-content-pricing-1 .c-content>.c-row.c-type {
    padding: 30px;
    font-weight: 500;
}

.c-content-pricing-1 .c-content>.c-row.c-title {
    text-align: left;
    padding-left: 0px;
    font-weight: normal;
}

.c-content-pricing-1 .c-content>.c-row.c-align-left {
    padding-left: 0px;
    text-align: left;
}

.c-content-pricing-1 .c-content>.c-row.c-purchase>.c-btn-purchase {
    padding: 12px 30px 10px 30px;
}

.c-content-pricing-1.c-opt-1 .c-content.c-column-even {
    background: #fafbfb;
}

.c-content-pricing-1.c-opt-1 .c-content>.c-row {
    color: #5f6f77;
    border-top-color: #f4f4f4;
}

.c-content-pricing-1.c-opt-1 .c-content>.c-row.c-type {
    color: #5f6f77;
}

.c-content-pricing-1.c-opt-1 .c-content>.c-row.c-title {
    color: #84969f;
}

.c-content-pricing-1.c-opt-1 .c-content>.c-row.c-dollar {
    color: #b9c4ca;
}

.c-content-pricing-1.c-opt-1 .c-content>.c-row>.fa.fa-check {
    color: #333456;
}

.c-content-pricing-1.c-opt-1 .c-content>.c-row>.fa.fa-times {
    color: #ff6b57;
}

.c-content-pricing-1.c-opt-2 .c-content.c-column-even {
    background: rgba(255, 255, 255, 0.02);
}

.c-content-pricing-1.c-opt-2 .c-content>.c-row {
    color: #969ab9;
    border-top-color: rgba(255, 255, 255, 0.04);
}

.c-content-pricing-1.c-opt-2 .c-content>.c-row.c-type {
    color: #fbfefe;
}

.c-content-pricing-1.c-opt-2 .c-content>.c-row.c-title {
    color: #969ab9;
}

.c-content-pricing-1.c-opt-2 .c-content>.c-row.c-dollar {
    color: #5b5f84;
}

.c-content-pricing-1.c-opt-2 .c-content>.c-row>.fa.fa-check {
    color: #75c199;
}

.c-content-pricing-1.c-opt-2 .c-content>.c-row>.fa.fa-times {
    color: #ff6b57;
}

.c-title-pricing-1 {
    margin-top: 40px;
}

.c-title-pricing-1>h4 {
    float: left;
    margin-top: 0px;
    margin-bottom: 70px;
}

.c-title-pricing-1>.c-try {
    position: absolute;
    top: 30px;
    right: 15px;
    float: left;
}

.c-title-pricing-1>.c-try>.c-btn-try {
    padding: 12px 30px 10px 30px;
}

.c-title-pricing-1.c-opt-title-1>h4 {
    color: #455055;
}

.c-title-pricing-1.c-opt-title-1>.c-try>.c-btn-try {
    background: #ff6b57;
    color: #ffffff;
}

.c-title-pricing-1.c-opt-title-1>.c-try>.c-btn-try:hover,
.c-title-pricing-1.c-opt-title-1>.c-try>.c-btn-try:focus,
.c-title-pricing-1.c-opt-title-1>.c-try>.c-btn-try:active,
.c-title-pricing-1.c-opt-title-1>.c-try>.c-btn-try.active,
.c-title-pricing-1.c-opt-title-1>.c-try>.c-btn-try .open>.dropdown-toggle.c-btn-try {
    background: #e16450;
}

.c-title-pricing-1.c-opt-title-1>.c-try>.c-btn-try:active,
.c-title-pricing-1.c-opt-title-1>.c-try>.c-btn-try.active {
    background: #c3604b;
    box-shadow: none;
}

.c-title-pricing-1.c-opt-title-2>h4 {
    color: #fbfefe;
}

.c-title-pricing-1.c-opt-title-2>h4>span {
    color: #41c6ec;
}

.c-title-pricing-1.c-opt-title-2>.c-try>.c-btn-try {
    background: #ff6b57;
    color: #ffffff;
}

.c-title-pricing-1.c-opt-title-2>.c-try>.c-btn-try:hover,
.c-title-pricing-1.c-opt-title-2>.c-try>.c-btn-try:focus,
.c-title-pricing-1.c-opt-title-2>.c-try>.c-btn-try:active,
.c-title-pricing-1.c-opt-title-2>.c-try>.c-btn-try.active,
.c-title-pricing-1.c-opt-title-2>.c-try>.c-btn-try .open>.dropdown-toggle.c-btn-try {
    background: #e16450;
}

.c-title-pricing-1.c-opt-title-2>.c-try>.c-btn-try:active,
.c-title-pricing-1.c-opt-title-2>.c-try>.c-btn-try.active {
    background: #c3604b;
    box-shadow: none;
}

@media (max-width: 991px) {

    /* 991px */
    .c-title-pricing-1 {
        margin-top: 40px;
    }

    .c-title-pricing-1>h4 {
        float: left;
        margin-top: 0px;
        margin-bottom: 70px;
    }

    .c-title-pricing-1>.c-try {
        position: absolute;
        top: -7px;
        right: 15px;
        float: left;
    }

    .c-content-pricing-1>.c-sm-hidden {
        display: none;
    }

    .c-content-pricing-1 .c-content>.c-row {
        padding: 30px;
        text-align: center;
    }

    .c-content-pricing-1 .c-content>.c-row>.c-sub-title {
        display: inline;
    }

    .c-content-pricing-1 .c-content>.c-row.c-align-left {
        padding-left: 30px;
        text-align: center;
    }

    .c-content-pricing-1 .c-content>.c-row.c-title {
        text-align: center;
        padding-left: 30px;
    }

    .c-content-pricing-1 .c-content>.c-row.c-empty {
        display: none;
    }
}

@media (max-width: 767px) {

    /* 766px */
    .c-title-pricing-1 {
        text-align: center;
        padding: 0px;
    }

    .c-title-pricing-1>h4 {
        width: 100%;
        clear: both;
        margin: 0px auto 30px;
    }

    .c-title-pricing-1>.c-try {
        position: static;
        clear: both;
        width: 100%;
        margin-bottom: 50px;
    }

    .c-title-pricing-1>.c-try>.c-btn-try {
        margin-left: auto;
        margin-right: auto;
    }

    .c-content-pricing-1 .c-content {
        margin-bottom: 80px;
    }

    .c-content-pricing-1 .c-content.c-padding-adjustment {
        margin-left: 0px;
        margin-right: 0px;
    }
}
.c-font-30 {
    font-size: 25px;
}

.c-font-bold {
    font-weight: 600 !important;
}

.btn-primary {
    border-color: #333456;
    border-width: 1px;
    color: #333456;
    background: #fff;
}

.btn-primary:hover {
    border-color: #333456;
    border-width: 1px;
    color: #ffffff;
    background: #333456;
}


.example-slide {
    align-items: center;
    background-color: #666;
    color: #999;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    min-height: 10rem;
  }


  .social-icons a {
    background-color: #FFF !important;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #333456 !important;
    transition: all 0.3s ease;
}